lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.code-workspace

pids
logs
results
tmp

# Coverage reports
coverage

# Cucumber report
report

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Firebase config
src/adapters/firestoreAdmin/config/*

# Stryker
.stryker-tmp